/* ------------------------------------------------ GLOBAL STYLING ----------------------------------------------- */

:root {
    --body-black: rgb(0, 0, 0);
    --body-white: rgb(231, 233, 234);
    --button-blue: rgb(29, 155, 240);
    --likes-button: rgb(255, 20, 147);
    --likes-button-hover: rgba(255, 20, 147, 0.1);
    --retweet-button: rgb(7, 164, 104);
    --retweet-button-hover: rgba(7, 164, 104, 0.1);
    --main-ash: rgb(32, 35, 39);
    --trends-ash: rgb(22, 24, 28);
    --border-ash: rgba(231, 233, 234, 0.3);
    --icon-hover: rgba(29, 155, 240, 0.1);
    --tweets-section-hover: rgba(67, 69, 70, 0.13);
    --tweet-reaction-icons: rgba(231, 233, 234, 0.5);
    font: 400 15px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--body-black);
    color: var(--body-white);
    overflow-y: scroll;
    overscroll-behavior-y: none;
}

a {
    color: var(--body-white);
    text-decoration: none;
}

img {
    vertical-align: middle;
}

/* ------------------------------------------------ GLOBAL STYLING ----------------------------------------------- */

/* --------------------------------------------------- HEADER -----------------------------------------------------*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 12rem;
    padding-right: 1rem;
}

.header-container {
    position: fixed;
    left: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    height: 100%;
    overflow-y: auto;
}

.twitter-logo > img {
    padding: 0.7rem 0;
}

.twitter-logo > img:hover {
    border-radius: 50%;
    background-color: var(--icon-hover);
}

/*----------------------------- NAV ---------------------------- */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item {
    padding: 0.4rem 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.nav-text,
.home-link {
    display: none;
}

.nav-hover {
    display: flex;
}

.nav-hover:nth-of-type(1) {
    padding: 0.5rem 0.7rem;
}

.nav-hover:hover {
    border-radius: 2rem;
    background-color: var(--main-ash);
}

.nav-icons img {
    vertical-align: baseline;
}

.explore-hashtag {
    display: none;
}

.home-link {
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.tweet-button {
    border-radius: 50%;
    padding: 1.7rem;
    background: url(./images/tweet-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--button-blue);
    color: var(--body-white);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.tweet-button-1 {
    display: none;
}

.tweet-button:hover {
    opacity: 90%;
    cursor: pointer;
}

.account {
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.account-hover {
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.account-hover:hover {
    border-radius: 50%;
    background-color: var(--main-ash);
    cursor: pointer;
}

.user-profile > img {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.account-name {
    display: none;
}

.username {
    display: none;
}

.more {
    display: none;
}

/* ------------------------------------------------- HEADER ------------------------------------------------------ */

/*-------------------------------------------------------- MAIN --------------------------------------------------*/

main {
    position: relative;
    display: flex;
    width: 74.8rem;
    margin-left: 3rem;
}

.message-bar {
    display: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    min-height: 100vh;
    border-left: 1px solid var(--border-ash);
    border-right: 1px solid var(--border-ash);
}

/*----------------------- MAIN SECTION HEADER -------------------*/

.main-section-header {
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 39.8rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(60%) blur(7px);
}

.home-header div {
    display: none;
}

.main-section-title {
    font-size: 1.3rem;
}

.main-section-title:hover {
    cursor: pointer;
}

.top-tweets-icon {
    padding: 0.5rem;
}

.top-tweets-icon:hover {
    border-radius: 50%;
    background-color: var(--main-ash);
}

/*-------------------------- TWEETS SECTION ---------------------*/
.tweets-section {
    position: relative;
    top: 4.3rem;
}

/*--------------------- USERS TWEETS SECTION---------------------*/
.user-tweet {
    display: flex;
    flex-direction: column;
}

.tweet-input-section {
    display: flex;
    align-items: center;
}

.img-2 {
    padding-left: 1rem;
}

.img-2 > img {
    width: 50px;
}

.img-2:hover {
    opacity: 90%;
    cursor: pointer;
}

.tweet-input {
    padding-left: 0.5rem;
    opacity: 50%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.edit-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-ash);
    padding: 0.5rem 1rem 1rem 5rem;
}

.tools-wrapper {
    display: flex;
}

.tools {
    padding: 0.5rem 0.6rem;
}

.tools:hover {
    border-radius: 50%;
    background-color: var(--icon-hover);
    cursor: pointer;
}

.location-icon {
    opacity: 50%;
}

.location-icon:hover {
    background-color: inherit;
    cursor: auto;
}

.post-tweet {
    border-radius: 2rem;
    padding: 0.7rem 1.2rem;
    background-color: var(--button-blue);
    color: var(--body-white);
    opacity: 50%;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

/*---------------------- HIDDEN TWEETS SECTION ------------------*/

.hidden-tweets {
    border-bottom: 1px solid var(--border-ash);
    padding: 1rem 0;
    color: var(--button-blue);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.hidden-tweets:hover {
    background-color: var(--tweets-section-hover);
}

/*------------------ TWEETS BASED ON INTERESTS ------------------*/
.interest-tweet {
    display: flex;
    flex-direction: column;
}

.topic {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0 3rem;
}

.topic-link p {
    padding-left: 1rem;
    color: var(--button-blue);
    font-size: 0.9rem;
}

.topic-name {
    color: var(--body-white);
    opacity: 50%;
}

.topic-name:hover {
    text-decoration: underline;
}

.period {
    color: var(--body-white);
    opacity: 50%;
}

.period:hover {
    text-decoration: none;
}

.see-more:hover {
    text-decoration: underline;
}

.close-tweet {
    padding-left: 18rem;
}

.close-tweet img {
    padding: 0.5rem 0.5rem;
}

.close-tweet img:hover {
    border-radius: 50%;
    background-color: var(--icon-hover);
    cursor: pointer;
}

.tweeter {
    display: flex;
}

.tweeter-profile {
    padding: 1rem 0 0 1rem;
}

.tweeter-profile img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.tweet {
    display: flex;
    flex-direction: column;
}

.tweet-details {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
}

.tweeter-name {
    display: flex;
    align-items: center;
    padding-right: 0.2rem;
}

.tweeter-name > a {
    padding: 0.5rem 14rem 0 0;
}

.more-tweets div {
    padding: 0.5rem 0.5rem 0.3rem;
    color: var(--tweet-reaction-icons);
    transition: all 0.1s ease-in-out;
}

.more-tweets div:hover {
    border-radius: 50%;
    background-color: var(--icon-hover);
    color: var(--tweets-blue) !important;
    cursor: pointer;
}

.tweeter-account {
    font-weight: 700;
}

.tweeter-account:hover {
    text-decoration: underline;
}

.tweeter-username {
    opacity: 50%;
}

.side-section {
    width: 28.8rem;
}

.tweet-reactions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-ash);
    padding: 0.5rem 1.5rem 0;
}

.replies,
.retweets,
.likes {
    display: flex;
    color: var(--tweet-reaction-icons);
}

.share {
    color: var(--tweet-reaction-icons);
}

.statistics {
    padding: 0.5rem 0 0 0.2rem;
    font-size: 0.9rem;
}

.replies > div:nth-of-type(1),
.retweets > div:nth-of-type(1),
.likes > div:nth-of-type(1),
.share {
    padding: 0.5rem 0.5rem 0.2rem;
}

.replies:hover {
    color: var(--button-blue) !important;
    cursor: pointer;
}

.replies > div:nth-of-type(1):hover {
    border-radius: 50%;
    background-color: var(--icon-hover);
}

.retweets:hover {
    color: var(--retweet-button);
    cursor: pointer;
}

.retweets > div:nth-of-type(1):hover {
    border-radius: 50%;
    background-color: var(--retweet-button-hover);
}

.likes:hover {
    color: var(--likes-button);
    cursor: pointer;
}

.likes > div:nth-of-type(1):hover {
    border-radius: 50%;
    background-color: var(--likes-button-hover);
}

.share:hover {
    border-radius: 50%;
    background-color: var(--icon-hover);
    color: var(--button-blue);
}

.interest-tweet:hover {
    background-color: var(--tweets-section-hover);
}

/*---------------------------- OTHER TWEETS ---------------------*/
.other-tweets-container {
    display: flex;
    flex-direction: column;
}

.other-tweets {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-ash);
}

.tweeter-name-2 > a {
    padding: 0.5rem 19.5rem 0 0;
}

.tweet-text {
    padding: 0 1rem 1rem 0;
}

.tweet-image {
    border: 1px solid var(--border-ash);
    border-radius: 1rem;
    margin: 1rem 1rem 1rem;
}

.tweet-image img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.tweet-image-caption {
    border-top: 1px solid var(--border-ash);
    padding: 1rem;
}

.tweet-image-caption p:first-of-type {
    opacity: 50%;
}

.tweet-reactions-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
}

.other-tweets:hover {
    background-color: var(--tweets-section-hover);
}

/*-------------------------------------------------------- MAIN --------------------------------------------------*/

/* -------------------------------------------------------TRENDS------------------------------------------------- */
.trending {
    display: none;
}

@media (max-width: 840px) {
    .header-container {
        left: 4rem;
    }
}

@media (max-width: 745px) {
    .header-container {
        left: 2.5rem;
    }

    main {
        margin-left: 0;
    }
}

@media (max-width: 697px) {
    .header-container {
        left: 1.5rem;
    }

    .main-section {
        width: 35rem;
    }

    .main-section-header {
        width: 34.8rem;
    }

    .close-tweet {
        padding-left: 12rem;
    }

    .tweeter-name > a {
        padding: 0.5rem 8rem 0 0;
    }

    .tweeter-name-2 > a {
        padding: 0.5rem 13rem 0 0;
    }
}

@media (max-width: 687px) {
    .polls,
    .schedule {
        display: none;
    }

    .tweeter-name-2 > a {
        padding: 0.5rem 13rem 0 0;
    }
}

@media (max-width: 625px) {
    .header-container {
        left: 1rem;
    }

    .main-section {
        width: 30rem;
    }

    .main-section-header {
        width: 29.8rem;
    }

    .close-tweet {
        padding-left: 7rem;
    }

    .tweeter-name > a {
        padding: 0.5rem 4rem 0 0;
    }

    .tweeter-name-2 > a {
        padding: 0.5rem 10rem 0 0;
    }

    .tweet-reactions {
        justify-content: space-evenly;
    }

    .tweet-reactions-2 {
        justify-content: space-between;
        padding-right: 2rem;
    }
}

@media (max-width: 591px) {
    .tweeter-name-2 > a {
        padding: 0.5rem 9rem 0 0;
    }
}
@media (max-width: 530px) {
    .header-container {
        left: 0.1rem;
    }

    .main-section {
        width: 28rem;
    }

    .main-section-header {
        width: 27.8rem;
    }

    .close-tweet {
        padding-left: 5rem;
    }

    .tweeter-name > a {
        padding: 0.5rem 2rem 0 0;
    }

    .tweeter-name-2 > a {
        padding: 0.5rem 7rem 0 0;
    }
}
